- 언니 모델과 내 모델 사이의 큰 차이 없음
- 향후 모델은 언니껄로 쓰고, 블로그는 내껄로 작성

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import nltk
from sklearn.feature_extraction.text import CountVectorizer
from nltk.corpus import stopwords
from wordcloud import WordCloud,STOPWORDS
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.stem import LancasterStemmer,WordNetLemmatizer
import re, string, unicodedata
from string import punctuation

In [2]:
path = '경로 지정'

# 데이터 준비

In [3]:
df = pd.read_csv(path + '/text 감정 추출 모델/tweet_data_agumentation.csv').iloc[:,1:]

In [4]:
print(df.shape)
df.iloc[:10,]

(63179, 2)

   sentiment                                            content
0          0  know wa listenin bad habit earlier start freak...
1          1              layin n bed headach ughhhhwaitin call
2          1                        funer ceremonygloomi friday
3          2                              want hang friend soon
4          4   reping whi didnt go prom bc bf didnt like friend
5          1  sleep im think old friend want marri damn amp ...
6          4                                               hmmm
7          1                                  charlen love miss
8          1                              im sorri least friday
9          4                                       choke retain

In [5]:
df['sentiment'].value_counts()

6     14977
4      8254
7      7494
11     6146
8      5539
1      5055
9      5020
0      3007
2      3003
10     2960
12     1724
Name: sentiment, dtype: int64

# 모델 Training

1) 각 `contect`를 tf-idf 벡터로 변환
2) x = `content`의 tf-idf 벡터, y = `sentiment`로 두고 학습

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vect = TfidfVectorizer()

text1 = tfidf_vect.fit_transform(df["content"])

In [7]:
y = df["sentiment"]
y

0         0
1         1
2         1
3         2
4         4
         ..
63174    10
63175    10
63176    10
63177    10
63178    10
Name: sentiment, Length: 63179, dtype: int64

In [8]:
text1_arr = text1.toarray()
x = pd.DataFrame(text1_arr, columns=tfidf_vect.get_feature_names_out())

In [9]:
print(x.shape)
x.head()

(63179, 22598)

,aa,aaa,aaaa,aaaaa,aaaaaaaa,aaaaaaaaaaa,aaaaaaaaaamaz,aaaaaaaahhhhhhhh,aaaaaah,aaaaaalcohol,...,zune,zur,zwart,zydrat,zyrtec,zzz,zzzz,zzzzi,zzzzz,zzzzzzzzzzzzzzz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
x.iloc[:, 130:150]

,accountgt,accountquot,accountsand,acct,accumul,accus,accustom,acdc,ace,acen,acess,acet,ach,achebut,achi,achiev,acho,achvstak,acid,acident
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63174,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
63175,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
63176,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
63177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
63178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test,y_train,y_test = train_test_split(text1, y, test_size=0.3, random_state=123)
print(X_train.shape)
print(X_test.shape)

(44225, 22598)
(18954, 22598)

In [12]:
from sklearn.svm import SVC
from sklearn.metrics import classification_report

model = SVC()
model.probability=True
model.fit(X_train, y_train)

SVC(probability=True)

In [13]:
pred_svm = model.predict(X_test)
print(classification_report(pred_svm, y_test))

              precision    recall  f1-score   support

           0       0.79      0.98      0.88       755
           1       0.18      0.47      0.26       571
           2       0.78      0.99      0.87       712
           4       0.74      0.46      0.56      3911
           6       0.94      0.82      0.88      5232
           7       0.92      0.88      0.90      2362
           8       0.91      0.92      0.91      1677
           9       0.22      0.55      0.32       602
          10       0.97      0.99      0.98       890
          11       0.89      0.92      0.90      1761
          12       0.97      1.00      0.98       481

    accuracy                           0.78     18954
   macro avg       0.76      0.82      0.77     18954
weighted avg       0.83      0.78      0.79     18954

(임의의 예시)

In [75]:
data = pd.DataFrame(['I am really happy','i am so sad',
                     'mother died today. or maybe it was yesterday, i do not know',
                    'You are so annoying me!!'])
data.columns = ['text']
data

                                                text
0                                  I am really happy
1                                        i am so sad
2  mother died today. or maybe it was yesterday, ...
3                           You are so annoying me!!

In [76]:
text2 = tfidf_vect.transform(data["text"])
text2

<4x22598 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [77]:
pred = model.predict_proba(text2)
pred

array([[8.39938874e-03, 5.03935289e-02, 4.72039152e-03, 1.35234633e-01,
        7.11435399e-01, 9.78174362e-03, 7.05153268e-03, 6.51335576e-02,
        2.80943868e-04, 7.23917102e-03, 3.29710631e-04],
       [7.81142690e-05, 7.64887338e-01, 6.77217334e-05, 2.34519825e-01,
        1.08460172e-04, 2.90533649e-05, 8.80707164e-05, 1.76685567e-04,
        2.98189642e-06, 3.46638066e-05, 7.08613767e-06],
       [2.28787869e-02, 6.37178587e-02, 8.77442658e-03, 1.97695726e-01,
        3.56775857e-01, 1.00160000e-02, 9.94104818e-03, 2.89601366e-01,
        1.04140080e-03, 3.81532952e-02, 1.40423369e-03],
       [8.39938874e-03, 5.03935289e-02, 4.72039152e-03, 1.35234633e-01,
        7.11435399e-01, 9.78174362e-03, 7.05153268e-03, 6.51335576e-02,
        2.80943868e-04, 7.23917102e-03, 3.29710631e-04]])

In [78]:
sorted_indexes = sorted(range(len(pred[0])), key=lambda x: pred[0][x], reverse=True)
print(sorted_indexes)
# 0 1 2 3 4 5 6 7 8 9 10
# 0 1 2 4 6 7 8 9 10 11 12

# 6 4 9 1 7 0 11 8 2 12 10

[4, 3, 7, 1, 5, 0, 9, 6, 2, 10, 8]

In [79]:
print(data.loc[0, 'text'])
pd.DataFrame({'prob' : pred[0],
              'sentiment': ['empty', 'sadness', 'enthusiasm', 'worry', 'love', 'fun',
                            'hate', 'happiness', 'boredom', 'relief', 'anger'],
             }).sort_values(by='prob', ascending=False)

I am really happy

        prob   sentiment
4   0.711435        love
3   0.135235       worry
7   0.065134   happiness
1   0.050394     sadness
5   0.009782         fun
0   0.008399       empty
9   0.007239      relief
6   0.007052        hate
2   0.004720  enthusiasm
10  0.000330       anger
8   0.000281     boredom

In [73]:
print(data.loc[1, 'text'])
pd.DataFrame({'prob' : pred[1],
              'sentiment': ['empty', 'sadness', 'enthusiasm', 'worry', 'love', 'fun',
                            'hate', 'happiness', 'boredom', 'relief', 'anger'],
             }).sort_values(by='prob', ascending=False)

i am so sad

        prob   sentiment
1   0.764887     sadness
3   0.234520       worry
7   0.000177   happiness
4   0.000108        love
6   0.000088        hate
0   0.000078       empty
2   0.000068  enthusiasm
9   0.000035      relief
5   0.000029         fun
10  0.000007       anger
8   0.000003     boredom

In [80]:
print(data.loc[2, 'text'])
pd.DataFrame({'prob' : pred[2],
              'sentiment': ['empty', 'sadness', 'enthusiasm', 'worry', 'love', 'fun',
                            'hate', 'happiness', 'boredom', 'relief', 'anger'],
             }).sort_values(by='prob', ascending=False)

mother died today. or maybe it was yesterday, i do not know

        prob   sentiment
4   0.356776        love
7   0.289601   happiness
3   0.197696       worry
1   0.063718     sadness
9   0.038153      relief
0   0.022879       empty
5   0.010016         fun
6   0.009941        hate
2   0.008774  enthusiasm
10  0.001404       anger
8   0.001041     boredom

In [81]:
print(data.loc[3, 'text'])
pd.DataFrame({'prob' : pred[3],
              'sentiment': ['empty', 'sadness', 'enthusiasm', 'worry', 'love', 'fun',
                            'hate', 'happiness', 'boredom', 'relief', 'anger'],
             }).sort_values(by='prob', ascending=False)

You are so annoying me!!

        prob   sentiment
4   0.711435        love
3   0.135235       worry
7   0.065134   happiness
1   0.050394     sadness
5   0.009782         fun
0   0.008399       empty
9   0.007239      relief
6   0.007052        hate
2   0.004720  enthusiasm
10  0.000330       anger
8   0.000281     boredom

**모델 저장**

In [14]:
import pickle
import joblib

In [15]:
saved_model = pickle.dumps(model)

In [16]:
model_from_pickle = pickle.loads(saved_model)

In [17]:
model_from_pickle.predict(X_test)

array([8, 4, 8, ..., 4, 2, 9], dtype=int64)

In [18]:
joblib.dump(model, 'SVM (해원).pkl')
# clf_from_joblib = joblib.load('SVM 해원.pkl')

['SVM (해원).pkl']